<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>빌더트립 - 회원 가입</title>
    <link rel="stylesheet" href="/css/member/join/joinForm.css">
</head>
<body>
<h3>회원가입</h3>
<form action="/member/join/success" method="post">
    <p>이메일</p>
    <input type="text" id="email1">@<input type="text" id="email2">
    <select id="selectAdd">
        <option value="999">----직접 입력----</option>
        <option value="naver.com">naver.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="hanmail.net">hanmail.net</option>
        <option value="nate.com">nate.com</option>
        <option value="kakao.com">kakao.com</option>
    </select>
    <button class="send" onclick="send()">인증</button>
    <br/>
    <div id="certification">
        <input type="text" placeholder="인증번호를 입력하세요." id="inputCode">
        <button class="check" onclick="check()">확인</button>
    </div>
    <p class="email_valid"></p>
    <input type="hidden" name = "memId" id="mem_id">
    <p>닉네임</p>
    <input type="text" id="mem_name" name = "memName">
    <p class="name_valid"></p>

    <p>비밀번호</p>
    <input type="password" id="mem_password" name = "memPw">
    <p class="pw_valid"></p>

    <p>연령</p>
    <select id="mem_age" name = "memAge">
        <option value="999">----------선택----------</option>
        <option value="10">10대</option>
        <option value="20">20대</option>
        <option value="30">30대</option>
        <option value="40">40대</option>
        <option value="50">50대</option>
        <option value="60">60대</option>
        <option value="70">70대</option>
        <option value="80">80대</option>
        <option value="0">밝히고 싶지 않아요.</option>
    </select>
    <p>성별</p>
    <select id="mem_gender" name = "memGender">
        <option value="999">----------선택----------</option>
        <option value="M">남성</option>
        <option value="F">여성</option>
        <option value="N">밝히고 싶지 않아요.</option>
    </select>
    <p>*연령과 성별은 여행지 추천 서비스에 활용됩니다.*</p>

    <input type="submit" onclick="enroll()">가입
    <button onclick="history.back()">취소</button>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/member/join/joinForm.js"></script>
</html>